* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes zoom {
    0% {
        transform: scale(1.15);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.15);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes moveTop {
    
}




.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.container {
    padding: 0 !important;
}

.main-source{
    overflow: hidden;
}
/* Restart end */


/* HEADER START */

.header .header_desk .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .logo h3{
    font-weight: 700;
    color: white;
    background-color: #344EFE;
    display: inline;
    padding: 1px 8px;
    border-radius: 100%;
    margin: 0 10px 0 0;
}

.header .container .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header .container h4{
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: #344EFE;
}

.header .header_desk ul {
    padding: 0.5vw 0;
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    height: max-content;
}

.header .header_desk ul li {
    padding: 10px 1.5vw;
    list-style: none;
    font-family: "God-word";
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header_desk ul li a {
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    align-items: center;
    color: black;
    font-family: 1vw;
    transition: 0.4s ease-in-out;
    text-decoration: none;
}

.header a.login{
    color: #344EFE;
    padding: 5px 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #344EFE;
    border: 1px solid #BAC3FE;
}

.header .header_mobile {
    display: none;
}

@media (max-width:767px) {
    .header .header_mobile {
        display: block;
    }

    .header a.login{
        margin-right: 10px;
        color: #344EFE;
        padding: 3px 10px;
        font-size: 14px;
        border-radius: 8px;
        box-shadow: 0px 0px 3px #344EFE;
        border: 1px solid #BAC3FE;
        text-decoration: none;
        display: none;
    }

    .header a.login.active{
        display: block;
    }

    .header .header_desk {
        display: none;
    }

    .header .header_mobile .menu_set {
        padding: 5px 0px;
    }

    .header .header_mobile .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .header_mobile .logo {
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .header .header_mobile .btn_menu_mobile {
        position: relative;
        transition: 0.8s ease-in-out;
        margin-right: 10px;
    }
    
    .header .header_mobile .btn_menu_mobile .item_menu {
        position: relative;
        background-color: black;
        width: 30px;
        height: 4px;
        margin: 5px 0px;
        border-radius: 15px;
        transition: 0.8s ease-in-out;
    }
    
    .header .header_mobile .btn_menu_mobile.active .item_menu.center  {
        opacity: 0;
        transition: 0.8s ease-in-out;
    }
    
    .header .header_mobile .btn_menu_mobile.active .item_menu.top  {
        transform: translate3d(0px, 9px, 0px) rotate(45deg);
        transition: 0.8s ease-in-out;
    }
    
    .header .header_mobile .btn_menu_mobile.active .item_menu.bottom  {
        transform: translate3d(0px, -9px, 0px) rotate(-45deg);
        transition: 0.8s ease-in-out;
    }

    .header .header_mobile .user-name {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px !important;
    }

    .header .header_mobile .user-name h6{
        margin: 0 10px;
        font-weight: 700;
        color: #344EFE;
        display: none;
    }

    .header .header_mobile .user-name h6.active{
        display: block;
    }

    .header .header_mobile .menu_move {
        background-color: white; 
        padding: 10px;
        width: 100%;
        position: fixed;
        right: 0;
        z-index: 999;
        opacity: 0.5;
        transform: translateX(130px);
        transition: 0.8s ease-in-out;
    }

    .header .header_mobile .menu_move {
        background-color: white; 
        padding: 10px;
        width: 100%;
        position: fixed;
        right: 0;
        z-index: 999;
        opacity: 0;
        transform: translateX(130px);
        transition: 0.8s ease-in-out;
    }

    body.active {
        overflow: hidden;
    }

    .header .header_mobile .menu_move b{
        font-size: 18px;
    }

    .header .header_mobile .menu_move.active {
        transform: translateX(0);
        opacity: 1;
        transition: 0.8s ease-in-out;
    }

    .header .header_mobile .menu_move ul {
        padding: 0;
        margin: 0;
    }

    .header .header_mobile .menu_move ul li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .header .header_mobile .menu_move ul li .left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .header .header_mobile .menu_move ul li .left i{
        margin-right: 10px;
        font-size: 18px;
    }

    .header .header_mobile .menu_move ul li .left a{
        color: black;
        font-size: 18px;
        text-decoration: none;
    }

    .header .header_mobile .menu_move .top-news a{
        margin-left: 20px;
        color: black;
        text-decoration: none;
    }

    .header .header_mobile .menu_move .top-news li{
        margin-bottom: 7px;
    }
}

/* HEADER END */
