* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

body::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

@font-face {
    font-family: 'Open-san-bold';
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: 'Be-vietnam';
    src: url("../fonts/BeVietnamPro-Regular.ttf");
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Noto-san-bold';
    src: url("../fonts/NotoSans-Bold.ttf");
}

@keyframes textInFirst {
    0% {
        opacity: 0;
        transform:  scaleX(0);
        transform-origin: left; 
    }
    4% {
        opacity: 1;
        transform-origin: left; 
        transform: scaleX(1);
    }
}

@keyframes textInSecond {
    0% {
        opacity: 0;
        transform:  scaleX(0);
        transform-origin: right; 
    }
    4% {
        opacity: 1;
        transform-origin: right; 
        transform: scaleX(1);
    }
}


@keyframes textOut {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

@keyframes subMenu {
    0% {
        height: 0;
        transition: 0.4s ease-in-out;
    }
    100% {
        height: auto;
        transition: 0.4s ease-in-out;
    }
}

@keyframes subMenuDef {
    0% {
        height: auto;
        transition: 0.4s ease-in-out;
    }
    100% {
        height: 0;
        transition: 0.4s ease-in-out;
    }
}


.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.container {
    padding: 0 !important;
}

.main {
    background-color: white;
    top: 0;
    position: relative;
    left: 0;
    max-width: 1920px;
    right: 0;
    bottom: 0;
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;
    margin: auto;
}

.main .tab {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}


body.active {
    overflow: hidden !important;
}

@media (max-width: 769px) {
    .main .tab {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}


/* HEADER START */

.header .header_desk .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .logo h3 {
    font-weight: 700;
    color: white;
    background-color: #344EFE;
    display: inline;
    padding: 1px 8px;
    border-radius: 100%;
    margin: 0 10px 0 0;
    font-family: 'Open-san-bold';
}

.header .container .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header .container h4 {
    font-family: 'Open-san-bold';
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: #344EFE;
}

.header .header_desk ul {
    padding: 0.5vw 0;
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    height: max-content;
}

.header .header_desk ul li {
    padding: 10px 1.5vw;
    list-style: none;
    font-family: "God-word";
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header_desk ul li a {
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    align-items: center;
    color: black;
    font-family: 1vw;
    transition: 0.4s ease-in-out;
    text-decoration: none;
    transition: 0.45s ease-in-out;
}

.header .user-name .login {
    color: #344EFE;
    padding: 5px 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #344EFE;
    border: 1px solid #BAC3FE;
    transition: 0.45s ease-in-out;
    display: none;
}

.header .user-name .login::after {
    content: "Đăng nhập";
    transition: 0.45s ease-in-out;
}

.header .user-name .login.active-content {
    border-radius: 50px;
    transition: 0.45s ease-in-out;
}

.header .user-name .login.active-content::after {
    transition: 0.45s ease-in-out;
    content: "x";
}

.header a.login.active {
    display: block;
}

.header .header_mobile {
    display: none;
}

.header .user-name {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .user-name h6 {
    margin: 0 10px;
    font-weight: 700;
    color: #344EFE;
    display: none;
}

.header .user-name h6.active {
    display: block;
}

@media (max-width:767px) {
    .header .header_mobile {
        display: block;
    }

    .header a.login {
        margin-right: 10px;
        color: #344EFE;
        padding: 3px 10px;
        font-size: 14px;
        border-radius: 8px;
        box-shadow: 0px 0px 3px #344EFE;
        border: 1px solid #BAC3FE;
        text-decoration: none;
        display: none;
        font-weight: 700;
    }

    .header a.login.active {
        display: block;
    }

    .header .header_desk {
        display: none;
    }

    .header .header_mobile .menu_set {
        padding: 5px 0px;
        background-color: white;
    }

    .header .header_mobile .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .header_mobile .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .header .header_mobile .btn_menu_mobile {
        position: relative;
        transition: 0.8s ease-in-out;
    }

    .header .header_mobile .btn_menu_mobile .item_menu {
        position: relative;
        background-color: black;
        width: 30px;
        height: 4px;
        margin: 5px 0px;
        border-radius: 15px;
        transition: 0.8s ease-in-out;
    }

    .header .header_mobile .btn_menu_mobile.active .item_menu.center {
        opacity: 0;
        transition: 0.8s ease-in-out;
    }

    .header .header_mobile .btn_menu_mobile.active .item_menu.top {
        transform: translate3d(0px, 9px, 0px) rotate(45deg);
        transition: 0.8s ease-in-out;
    }

    .header .header_mobile .btn_menu_mobile.active .item_menu.bottom {
        transform: translate3d(0px, -9px, 0px) rotate(-45deg);
        transition: 0.8s ease-in-out;
    }

    .header .header_mobile .menu_move {
        background-color: white;
        width: 100%;
        position: fixed;
        right: 0;
        z-index: 999;
        opacity: 0.5;
        transform: translateX(100%);
        min-height: 100vh;
        height: 100vh;
        transition: 0.8s ease-in-out;
    }

    .header .header_mobile .menu_move.login-active {
        padding: 0px 10px;
    }

    .header .header_mobile .menu_move b {
        font-size: 18px;
    }

    .header .header_mobile .menu_move.active {
        transform: translateX(0);
        opacity: 1;
        transition: 0.8s ease-in-out;
    }

    .header .header_mobile .menu_move ul {
        padding: 10px;
        margin: 0;
    }

    .header .header_mobile .menu_move ul li .menu-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .header_mobile .menu_move ul li{
        list-style: none;
        margin: 10px auto 30px auto;
    }

    .header .header_mobile .menu_move ul li .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .header .header_mobile .menu_move ul li .left i {
        margin-right: 10px;
        font-size: 18px;
    }

    .header .header_mobile .menu_move ul li .left a {
        color: black;
        font-size: 18px;
        text-decoration: none;
    }

    .header .header_mobile .menu_move .top-news a {
        margin-left: 20px;
        color: black;
        text-decoration: none;
    }

    .header .header_mobile .menu_move .top-news li {
        margin-bottom: 7px;
    }

    .login-disable h4 {
        color: white;
        margin: 2vw 0;
        font-family: 'Open-san-bold';
    }

    .login-disable .top {
        background-color: #146AFF;
        padding: 10px;
    }

    .login-disable button {
        font-family: 'Open-san-bold';
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F5A623;
        color: black;
        outline: none !important;
        border: none;
        padding: 5px 15px;
        border-radius: 7px;
    }

    .login-disable button i {
        margin: 2px 5px 0 5px;
    }

    .header .header_mobile .menu_move .item-action{
        cursor: pointer;
    }

    .header .header_mobile .menu_move .item-action .sub-menu{
        padding: 0;
        padding-left: 15px;
        transform: scaleY(0);
        transform-origin: top center; 
        overflow-y: hidden;
        height: 0;
        transition: transform 0.2s ease-in-out;
    }
    
    .header .header_mobile .menu_move .item-action.active .sub-menu{
        height: 100%;
        transform: scaleY(1);
        transition: transform 0.2s ease-in-out;
    }
    
    .header .header_mobile .menu_move .item-action .right{
        transition: 0.2s ease-in-out;
    }

    .header .header_mobile .menu_move .item-action.active .right{
        transform: rotate(90deg);
        transition: 0.2s ease-in-out;
    }
    
    .header .header_mobile .menu_move .sub-menu li{
        margin: 0;
        list-style: none;
    }

    .header .header_mobile .menu_move .sub-menu li a{
        text-decoration: none;
        color: black;
    }
}

/* HEADER END */


/* LOGIN FORM START */

.header {
    position: relative;
    z-index: 9;
}

.login-form {
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-150%);
    transition: 0.8s ease-in-out;
}

.login-form.active {
    transform: translateY(0%);
    transition: 0.8s ease-in-out;
    z-index: 5;
    opacity: 1;
}

.login-form form {
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px !important;
}

.login-form form input {
    width: 90%;
    border: none;
    outline: none;
    padding: 2px 10px;
    margin: 5px 0;
    background-color: white;
    border-radius: 5px;
}

.login-form form .item-form {
    background-color: white;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 1.5px solid gainsboro;
}

.login-form form .item-form-btn {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.login-form form .item-form .show-pass {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    display: flex;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 11px 5px;
}

.login-form form .item-form .show-pass i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.login-form form .item-form .show-pass.active i.fa-eye {
    display: block;
}

.login-form form .item-form .show-pass.active i.fa-eye-slash {
    display: none;
}

.login-form a {
    text-decoration: none !important;
}

.login-form form button {
    outline: none;
    border: none;
    background-color: #0008C8;
    color: white;
    padding: 5px 20px;
    border-radius: 50px;
}

/* LOGIN FORM END */

/* FORM START */

.form-start {
    position: relative;
    opacity: 0;
    transition: 0.5s ease-in-out;
    margin: 5px auto;
    padding: 0px 10px;
    transform: scale(0);
    height: 0;
}

.form-start form{
    width: 100%;
}

.form-start.active {
    transform: scale(1);
    height: min-content;
    position: relative;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.form-start .item-form {
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    padding: 2px 2px 2px 10px;
    border: 1.5px solid #6678fd;
    box-shadow: 2px 3px 4px 1px #bbbbbb;
    background-color: white;
    width: 100%;
}

.login-disable .form-start {
    transform: scale(0);
    transition: 0.5s ease-in-out;
}

.login-disable .form-start.active {
    transform: scale(1);
    height: auto;
    transition: 0.5s ease-in-out;
}

.form-start .item-form input {
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'Open-san-bold';
    width: 60%;
}

.form-start .item-form input::placeholder {
    font-family: 'Open-san-bold';
    color: rgb(118, 118, 118, 0.5);
}

.form-start .item-form button {
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    color: white;
    font-family: 'Noto-san-bold';
    background-color: #334DFF;
    margin: 3px;
    padding: 6px 10px;
    border-radius: 8px;
}

.form-start .item-form button a{
    color: white;
    text-decoration: none;
}

.form-start .content-left button {
    background-color: #00BF63;
}

@media (max-width: 767px) {
    .form-start .item-form input{
        width: 65%;
    }
}

/* FORM START END */

/*  */
/*  */
/*  */
/*  */
/*  */

/* CONTENT TAB 1 */

.content-tab1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3%;
}

.content-tab1 .content-left {
    margin-top: 4vw;
    z-index: 2;
}

.content-tab1 .slogand {
    background-color: #EDF0FF;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 18px;
    color: #0008C8;
    font-family: 'Open-san-bold';
}

.content-tab1 .title {
    margin: 2vw 0;
}

.content-tab1 .title h1 {
    font-family: 'Noto-san-bold';
    color: #1D1960;
    display: inline;
}

.content-tab1 .title h1:nth-child(2) {
    color: #CC9D00;
}

.content-tab1 .title h1:nth-child(3) {
    color: #334DFF;
}

.content-tab1 .description {
    color: #737374;
    font-size: 20px;
}

.content-tab1 .btn-active-form {
    font-family: 'Open-san-bold';
    color: #334DFF;
    margin: 1.5vw auto;
    padding: 5px 45px;
    border-radius: 50px;
    border: 2px solid #334DFF;
    background-color: transparent;
    outline: none;
    display: block;
}

.content-tab1 .content-left .form-start {
    opacity: 1;
    height: auto;
    transform: scale(1);
}

.content-tab1 .content-left .form-start .item-form {
    border-color: #00BF63;
}

.content-tab1 .content-left .form-start .item-form button {
    background-color: #00BF63;
}

.content-tab1 .title-news {
    margin-bottom: 4vw;
    margin-right: 10px;
}

.content-tab1 .title-news h2 {
    display: inline;
    font-family: 'Noto-san-bold';
    color: white;
    font-size: 28px;
}

.content-tab1 .content-left .content {
    position: absolute;
    bottom: 0;
}

.content-tab1 .content-left .title-news h2.news-color {
    color: #00BF63;
}

.content-tab1 .list-news .item-news {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.content-tab1 .list-news .item-news a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #fff;
    text-overflow: ellipsis;
}

.content-tab1 .list-news .item-news .first {
    animation: textInFirst 10s infinite ease-in;
}

.content-tab1 .list-news .item-news .second {
    animation: textInSecond 10s infinite ease-in;
}

.content-tab1 .list-news .item-news:nth-child(2) {
    animation: textOut 2s infinite ease-in-out;
}

.content-tab1 .list-news .item-news a,
.content-tab1 .list-news .item-news p {
    font-family: "Noto-san-bold";
    margin: 0;
    color: white;
    text-decoration: none;
}

.content-tab1 .content .btn-active-form {
    background-color: #E4C911;
    color: #CBA304;
    border: none;
}

.content-tab1 .draw {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    background-color: #344FFF;
    transform: rotate(18deg) translateX(-43.5%) translateY(59%);
}

.content-tab1 .content-right {
    z-index: 2;
}

.draw-icon-poly,
.draw-icon-right{
    display: none;
}

@media (max-width: 767px) {
    .draw-icon-poly{
        display: block;
        width: 9vw;
        position: absolute;
        left: 22vw;
        top: 50px;
    }

    .hide{
        display: none !important;
    }

    .draw-icon-right{
        display: block;
        width: 17vw;
        position: absolute;
        right: 7vw;
        top: 14vw;
        transform: rotate(-210deg);
    }
    
    .content-tab1 .content-right {
        z-index: 2;
        order: 1;
        margin-top: 10vw;
    }

    .content-tab1 .content-left {
        order: 2;
        z-index: 2;
    }

    .content-tab1 .draw {
        width: 200%;
        transform: rotate(347deg) translateX(-28.5%) translateY(57%);;
    }

    .content-tab1 .btn-active-form {
        display: none;
    }

    .content-tab1 .list-news .item-news {
        border-left: 3px solid #CBA304;
        padding-left: 5px;
    }

    .content-tab1 .description{
        color: #0B0B89;
    }

    .content-tab1 .slogand{
        font-size: 16px;
    }

    .content-tab1 .title{
        margin: 2vw 0;
    }

    .login-form form{
        width: 100%;
    }

    .content-tab1 .content-left .content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: -27px;
    }

}

/* TAB 2 START */


.tab2 {
    display: flex;
    background-color: #FDF9E8;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 10px !important;
}

.tab2 .icon-next svg{
    width: 35px;
    margin: auto;
    text-align: center;
    display: block;
}

.tab2 .title-tab2{
    margin: auto;
}

.tab2 .title-tab2 h4 {
    font-family: 'Open-san-bold';
    text-align: center;
    color: #CC9D00;
}

.tab2 .title-tab2 .desc-tab2 button {
    font-family: 'Open-san-bold';
    text-align: center;
    background-color: #E4C911;
    color: #A07C00;
    border: none;
    outline: none;
    display: block;
    margin: 3vw auto 5vw auto;
    padding: 6px 25px;
    border-radius: 50px;
}

.tab2 .content-tab2 h2 {
    font-family: 'Noto-san-bold';
    color: #1D1960;
    display: inline;
    background: linear-gradient(90deg, rgba(228, 186, 7, 1) 0%, rgba(200, 156, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tab2 .content-tab2 {
    margin: 3vw 0;
}

.tab2 .content-tab2 p {
    margin: 1.5vw 0;
}

.tab2 .content-tab2 .btn-opend-form {
    font-family: 'Open-san-bold';
    text-align: center;
    background-color: #E4B200;
    color: black;
    border: none;
    outline: none;
    margin: 3vw 0;
    padding: 6px 25px;
}

.tab2 .content-tab2 .btn-opend-form a{
    font-family: 'Open-san-bold';
    text-align: center;
    color: black;
    text-decoration: none;
}

.tab2 .draw{
    position: absolute;
    right: 2vw;
    width: 200px;
    z-index: 1;
}

.tab2 .draw-01{
    position: absolute;
    right: 20vw;
    bottom: 4vw;
    width: 150px;
    z-index: 1;
}

.tab2 .container{
    z-index: 2;
}

.tab2 .form-start{
    margin: 1.5vw auto;
}


@media (max-width:767px) {
    .tab2 .draw{
        display: none;
    }
        
    .tab2 .form-start{
        margin: 4vw auto;
    }


}


/* TAB 2 END */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* SIGNIN PAGE START */

.navbar-page{
    padding: 10px 0 !important;
    display: flex;
    align-items: center;
}

.navbar-page h3{
    font-weight: 700;
    color: white;
    background-color: #344EFE;
    display: inline;
    padding: 1px 9px;
    border-radius: 100%;
    margin: 0;
    font-family: 'Open-san-bold';
}

.navbar-page h4{
    font-weight: 700;
    font-family: 'Open-san-bold';
}

.navbar-page .col-4:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-page a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.navbar-page a i {
    font-size: 25px;
}

.main-signIn-page{
    max-width: 680px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin: auto;
}

.main-signIn-page .form-info{
    margin: 2vw auto;
}

.main-signIn-page .content-page{
    margin: auto;
}

.main-signIn-page .form-info form input{
    width: 90%;
    border: none;
    outline: none;
    padding: 4px 10px;
    margin: 5px 0;
    background-color: white;
    border-radius: 5px;
}

.main-signIn-page .form-info form .item-form {
    background-color: white;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 1.5px solid gainsboro;
}

.main-signIn-page .form-info form b{
    padding-top: 5px;
    display: block;
}

.main-signIn-page .form-info form .item-form .show-pass {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    display: flex;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 11px 5px;
}

.main-signIn-page .form-info form .item-form .show-pass i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-signIn-page .form-info form .item-form .show-pass.active i.fa-eye {
    display: block;
}

.main-signIn-page .form-info form .item-form .show-pass.active i.fa-eye-slash {
    display: none;
}

.main-signIn-page .content-page .desc {
    margin: 35px auto;
}

.main-signIn-page .content-page .desc h3{
    font-family: 'Noto-san-bold';
}

.main-signIn-page .content-page .desc .item-docs{
    display: flex;
    align-items: flex-start;
    padding: 0px 10px !important;
}

.main-signIn-page .content-page .desc .item-docs i{
    margin-right: 5px;
    font-size: 20px;
    margin-top: 5px;
}

.main-signIn-page .content-page .desc .item-docs i{
    margin-right: 5px;
    font-size: 20px;
    margin-top: 5px;
}

.main-signIn-page .content-page .btn-next-step{
    margin: auto;
}

.main-signIn-page .content-page .btn-next-step button{
    width: 100%;
    font-family: 'Open-san-bold';
    color: white;
    margin: 1.5vw auto;
    padding: 7px 45px;
    border-radius: 50px;
    background-color: #334DFF;
    outline: none;
    border: none;
    display: block;
}

.main-signIn-page .content-page .btn-next-step button a{
    color: white;
    text-decoration: none;
}

.main-signIn-page .form-info .item-select input{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.main-signIn-page .form-info .item-select{
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.main-signIn-page .form-info .item-select b{
    display: inline;
    color: black;
    margin: 0;
}

.main-signIn-page .form-info .item-select p{
    margin: 0;
    color: #898989;
}

.main-signIn-page .item-docs-date p{
    margin: 0;
    color: #898989;
}

.main-signIn-page .item-docs-date{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.main-signIn-page .bank-account{
    margin-bottom: 25px;
}

.main-signIn-page .bank-account p{
    margin: 0;
}

.main-signIn-page .bank-account .logo{
    margin: 0 auto;
}


/* COUNT START */
.count-step{
    display: flex;
    max-width: 90%;
    align-items: center;
    margin: 20px auto;
    justify-content: center;
}

.count-step .line{
    background-color: #C4C4C4;
    height: 1px;
    width: 10%;
    margin: 0px 5px;
}

.count-step .line.active{
    background-color: #3D5CFF;
}

.count-step p.active{
    background-color: #3D5CFF;
    color: white;
}

.count-step p{
    background-color: #C4C4C4;
    margin: 0;
    color: white;
    padding: 1px 7.5px;
    display: inline-block;
    border-radius: 50px;
    width: min-content;
    font-size: 15px;
}

/* SIGNIN PAGE END */

/*  */
/*  */
/*  */
/*  */

/* FINAL PAGE START */

.final{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.final h4{
    font-family: 'Open-san-bold';
}

.final i{
    color: white;
    background-color: #17BF6E;
    display: block;
    font-size: 35px;
    padding: 7px 9px;
    border-radius: 100px;
    margin-bottom: 15px;
}

.payment{
    margin: 15px 0;
}

.payment p{
    margin: 0 auto;
}

.payment b{
    margin: auto;
    text-align: center  ;
    display: inherit;
    font-family: 'Open-san-bold';
}

.exit {
    margin: 30px auto;
}

.exit a{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

.exit h5{
    font-family: 'Open-san-bold';
}

.exit i{
    font-size: 35px;
}

/* FINAL PAGE END */

/*  */
/*  */
/*  */
/*  */
/*  */

/* NEWS PAGE START */

.news-page .checkpoint h5{
    font-weight: 700;
    margin-bottom: 15px;
}

.news-page .list-checkpoint{
    padding: 3px 0;
}

.news-page .list-checkpoint .item-checkpoint{
    border-right: 1px solid gainsboro;
    width: 100%;
    margin: 7px 0;
    display: inline;
    padding: 0px 10px;
}

.news-page .list-checkpoint .item-checkpoint a{
    display: inline-block;
    padding: 3px 10px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 50px;
}

.news-page .more a{
    color: black;
    display: block;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    margin-top: 15px;
}

.news-page{
    position: fixed;
    max-height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.news-page .nav-left{
    padding: 15px 20px;
    min-height: 100vh;
}

.news-page .nav-left .user{
    margin: 25px 0;
}

.news-page .nav-left .user .user-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-page .nav-left .user .user-name h5{
    margin: 0 15px;
}

.news-page .nav-left .user .user-name h5 a{
    color: #e8c117;
    font-weight: 500;
    text-decoration: none;
}

.news-page .logo h3 {
    font-weight: 700;
    color: white;
    background-color: #344EFE;
    display: inline;
    padding: 0px 8px;
    border-radius: 100%;
    margin: 0 10px 0 0;
    font-family: 'Open-san-bold';
}

.news-page h4 {
    font-family: 'Open-san-bold';
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: #344EFE;
}

.news-page .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-page .list-content ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.news-page .list-content ul li {
    padding: 0;
}

/* CONTENT NEWS PAGE */

.news-page .content-page{
    display: flex;
    align-items: flex-start;
}

.news-page .content-page .nav-left{
    max-width: 12%;
    min-width: 230px;
}

.news-page .content-news{
    width: 85%;
    padding: 0 15px 15px 15px;
    height: 95vh;
    margin-top: 15px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.news-page .content-news .sitebar{
    padding-left: 15px !important;
    padding-top: 5vw !important;
}

.news-page .content-news::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.news-page .nav-search{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 4px solid #ababab;
    padding: 10px !important;
    border-radius: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

.news-page .nav-search p{
    margin: 0 5px;
}

.news-page .nav-search .right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-page .nav-search .left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.news-page .nav-search .right p{
  	display: -webkit-box;
  	-webkit-line-clamp: 1;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
    margin: 0 5px;
}

.news-page .nav-search button{
  	background-color: transparent;
    outline: none;
    border: none;
}

.news-page .nav-search a{
    color: black;
    text-decoration: none;
}

.news-page .nav-search i{
  	font-size: 20px;
}

.news-page .search-sticky{
    padding-bottom: 15px;
    background-color: white;
    max-width: 95%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-page .search-sticky .nav{
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px;
    border: 4px solid #abababc7;
    border-radius: 7px;
    margin: 20px auto;
}

.news-page .search-sticky .nav p{
    margin: 0;
    max-width: 80%;
    display: -webkit-box;
  	-webkit-line-clamp: 1;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.news-page .search-sticky .nav button{
    background-color: transparent;
    outline: none;
    border: none;
    margin-top: 2px;
    margin-left: 10px;
}

.news-page .search-sticky .money ul li{
    border: none;
}

.list-news .item-new .type a{
    text-decoration: none;
    color: #00BF63;
}

@media (max-width: 768px) {
    .news-page .search-sticky{
        max-width: 100%;
    }

    .new_more h4{
        padding-left: 20px !important;
    }

    #detail-page .detail-new-page{
        padding: 0px 20px !important;
    }

    .news-page .item-new.item-firt{
        background-color: hsla(230, 100%, 50%, 0.05);
    }

    .news-page .item-new.item-firt .detail-new{
        background-color:  #0029FF;
        width: 100%;
        max-width: 100%;
        border-radius: 0;
    }

    .news-page .item-new.item-firt .detail-new a{
        color: white;
    }

    .news-page .menu_set,
    .news-page .search-sticky,
    .news-page .checkpoint,
    .news-page .checkpoint,
    .news-page .item-new,
    .news-page .trending-new{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .news-page .nav-left{
        display: none;
    }

    .news-page .content-news{
        width: 100%;
    }

    .news-page .content-news .sitebar{
        padding: 0 20px !important;
        margin-top: 25px;

    }

    .news-page .list-checkpoint .item-checkpoint{
        display: block;
        border: none;
    }
}

.content-news .content-nav-search{
    transform: translateY(-150%);
    transition: 0.45s ease-in-out;
    z-index: 0;
    opacity: 0;
    margin-top: 7px;
    background-color: white;
    padding: 20px 15px !important;
    position: absolute;
    border-radius: 7px;
    box-shadow: 0px 0px 5px gainsboro;
    left: 20px;
    right: 20px;
}

.content-news .content-nav-search.active{
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition: 0.45s ease-in-out;
}

.content-news .content-nav-search ul {
    padding: 0;
    margin: 0;
}

.content-news .content-nav-search ul li{
    list-style: none;
    margin: 10px 0;
    border-bottom: 1px solid gainsboro;
}

.content-news .content-nav-search ul li a{
    display: -webkit-box;
  	-webkit-line-clamp: 1;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
    padding: 5px 0px !important;
    color: black;
    text-decoration: none;
}

.list-news .item-new .type{
    color: #00BF63;
    margin: 0;
}

.list-news .item-new .title-new h2 a{
    color: black;
    text-decoration: none;
}

.list-news .item-new .title-new h2{
    color: black;
    margin: 0;
    font-family: 'Be-vietnam';
    font-weight: 700;
    display: block;
  	display: -webkit-box;
  	-webkit-line-clamp: 2;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.list-news .item-new{
    margin: 15px auto;
    padding: 20px 0;
    border-bottom: 1px solid gainsboro;
}

.list-news .item-new .title-new p{
    font-size: 17px;
    color: gray;
    margin: 15px 0;
}

.list-news .item-new .desc-new{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.list-news .item-new .desc-new .content .text{
  	display: -webkit-box;
  	-webkit-line-clamp: 7;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.list-news .item-new .sale-new{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.list-news .item-new .sale-new b{
    color: #0008C8;
    background-color: #E7EEFF;
    border-radius: 5px;
    font-weight: 700;
    padding: 3px 10px;
    margin: 0;
}

.list-news .item-new .sale-new p{
    margin: 0;
}

.list-news .item-new .detail-new{
    padding: 7px 25px;
    border: none;
    border: 2px solid #0029FF;
    display: block;
    color: white;
    margin: 0px auto 10px auto;
    text-align: center;
    width: 100%;
    max-width: 180px;
    border-radius: 100px;
    display: none;
}

.list-news .item-new .detail-new a{
    color: #0029FF;
    font-weight: 700;
    text-decoration: none;
}

.list-news .item-new .desc-new .sale-new{
    max-width: 100%;
    min-width: 40%;
}

.list-news .item-new .desc-new .sale-new b{
    background-color: transparent;
    color: black;
    padding: 0;
}

.list-news .item-new .desc-new .content{
    display: flex;
    align-items: flex-start;
}

.list-news .item-new .desc-new .thumnail,
.list-news .item-new .desc-new .thum-mini{
    padding-left: 15px !important;
}

.list-news .item-new .desc-new .thum-mini{
    display: none;
}

.list-news{
    max-width: 95%;
}

.list-news .item-new .desc-new .thumnail,
.list-news .item-new .desc-new .thum-mini{
    display: none;
}

.list-news .item-new .desc-new .thumnail.active{
    display: block;
}

@media (max-width: 767px) {
    .list-news{
        max-width: 100%;
    }
    
    .list-news .item-new .desc-new .thumnail {
        display: none !important;
    }
    
    .list-news .item-new .desc-new .thumnail.active{
        display: block !important;
    }
    
    .list-news .item-new .desc-new .thumnail.thum-mini-size{
        display: none !important;
    }

    .list-news .item-new .desc-new .content p{
        padding: 0 !important;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 1;  /* số dòng hiển thị */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .list-news .item-new .title-new h2{
        display: block !important;
    }

    .list-news .item-new .desc-new .thum-mini{
        padding: 0 !important;
        display: block;
        order: 2;
        padding-top: 15px !important;
    }

    .list-news .item-new .desc-new .content .text{
        -webkit-line-clamp: 5;
        padding-right: 10px;
    }

    .list-news .item-new .detail-new{
        display: block;
    }
    
    .list-news .item-new .desc-new .content{
        order: 2;
        margin: 10px 0;
    }
    
    .list-news .item-new .desc-new .thumnail{
        order: 1;
    }

    .news-page .content-news{
        padding: 0;
    }

}

/*  */
/*  */
/*  */
/*  */
/*  */

/* DETAIL NEW START */

.detail-new-page{
    padding-top: 2vw;
}

.post-new{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.post-new p{
    margin: 0;
}

.post-new h5{
    margin: 0;
    font-family: 'Noto-san-bold';
}

.post-new .avatar{
    width: 60px ;
    border-radius: 150px;
    margin-right: 10px;
}

.post-new .avatar img{
    border-radius: 150px;
}

.detail-new-page .sale-new{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 5px 0;
}

.detail-new-page .sale-new b{
    color: #0008C8;
    background-color: #E7EEFF;
    border-radius: 5px;
    font-weight: 700;
    padding: 3px 10px;
    margin: 0;
}

.detail-new-page .sale-new p{
    margin: 0;
}

.detail-new-page .title-new h3{
    font-family: 'Noto-san-bold';
    margin: 0;
}

.detail-new-page .sort-desc{
    color: gray;
    margin: 15px 0;
}

/* DETAIL NEW END */

/*  */
/*  */
/*  */
/*  */

/* TRENDING START */

.trending-new {
    padding: 2vw 0;
}

.trending-new .title{
    background-color: #FFF500;
    font-family: 'Noto-san-bold';
    text-align: center;
    padding: 7px 0px;
    border-radius: 50px;
    color: #0B0B89;
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
}

.trending-new .list-trending .trending-big{
    padding-right: 3% !important;
}

.trending-new .list-trending .item-trending{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gainsboro;
}

.trending-new .list-trending .item-trending h4 a{
    font-family: 'Noto-san-bold';
    margin: 0;
    color: black;
    text-decoration: none;
}

.trending-new .list-trending .item-trending .desc{
    display: -webkit-box;
  	-webkit-line-clamp: 2;  
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.trending-new .more{
    color: #0008C8;
    text-decoration: none;
    font-family: 'Noto-san-bold';
    border: 2px solid #0008C8;
    border-radius: 25px;
    display: inline-block;
    margin: 10px 0;
    padding: 5px 20px;
}

.trending-new .list-trending{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trending-new .list-trending .trending-small{
    padding-left: 10px !important;
    padding-top: 20px !important;
}

.trending-new .list-trending .trending-small .item-trending{
    margin-bottom: 15px;
}

.trending-new .type{
    color: #00BF63;
    font-size: 15px;
}

.trending-new .list-trending .trending-small h5 a{
    font-family: 'Noto-san-bold';
    color: black;
    text-decoration: none;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .trending-new .title{
        width: 100%;
    }

    .trending-new .list-trending .trending-small{
        padding: 0 !important;
    }

    .trending-new .list-trending .trending-big{
        padding-right: 0% !important;
    }
}

/* TRENDING END */

/*  */
/*  */
/*  */
/*  */

/* DOCS TRENDING START */

.content-trending{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -99;
    background-color: white;
    padding: 15px !important;
    margin: auto;
    opacity: 0;
    transition: 0.45s ease-in-out;
    transform: scale(0);
}

.content-trending.active{
    transform: scale(1);
    opacity: 1;
    transition: 0.45s ease-in-out;
    z-index: 99;
}

.content-trending .background{
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}


.content-trending .docs-trending{
    margin: auto;
    padding: 15px !important;
    z-index: 55;
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: white;
}

.content-trending .docs-trending::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.docs-trending .title{
    font-family: 'Noto-san-bold';
    color: black;
}

.docs-trending .sale-new{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 5px 0;
}

.docs-trending .type{
    color: #00BF63;
    font-size: 15px;
}

.docs-trending .sale-new b{
    color: #0008C8;
    background-color: #E7EEFF;
    border-radius: 5px;
    font-weight: 700;
    padding: 3px 10px;
    margin: 0;
}

.docs-trending .sale-new p{
    margin: 0;
}

.content-trending .cancle{
    text-decoration: none;
    color: #0008C8;
    padding: 3px 25px;
    border-radius: 50px;
    display: inline-block;
    border: 1px solid #0008C8;
    text-align: right;
    margin: 15px 0;
}

/* DOCS TRENDING END */

.navigate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    max-width: 250px;
    margin: auto;
}

.navigate a{
    text-decoration: none;
    display: block;
    border: 1px solid #0008C8;
    color: white;
    width: 85px;
    margin: 0px 5px;
    font-family: 'Noto-san-bold';
    border-radius: 2px;
    padding: 2px 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #0008C8;
}

.navigate a:hover{
    text-decoration: none;
    color: white;
}

.navigate a.active{
    border: 1px solid #0008C8;
    color: white;
    background-color: #0008C8;
}
/* NAVIGATE END */

/*  */
/*  */
/*  */
/*  */

/* TAB 3 START */

.tab3 {
    background-color: #f6f9fc;
}

.tab3 .title-tab3 h5{
    color: #635bff;
    font-weight: 700;
}

.tab3 .title-tab3 h1{
    color: #0a2540;
    font-weight: 700;
    margin: 15px 0;
}

.tab3 .title-tab3 p{
    color: #425466;
    margin:  0;
    font-size: 18px;
}

.tab3 .container{
    padding: 2vw 0 !important;
}

.tab3 .content-list-item{
    padding: 15px !important;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tab3 .content-list-item .col-md-6{
    padding: 15px !important;
}

.tab3 .content-list-item{
    padding: 15px !important;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.tab3 .content-list-item .list-left{
    margin-top: 5vw;
}

.tab3 .content-list-item .item{
    border-radius: 10px;
    border: 4px solid white;
    background-color: white;
    margin-bottom: 20px;
}

.tab3 .content-list-item .item .desc{
    padding: 25px !important;
}

.tab3 .content-list-item .item .tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    padding: 2px 15px;
    background-color: #f6f9fc;
}

.tab3 .content-list-item .item .desc p{
    max-width: 80%;
    margin: 0;
    font-size: 18px ;
    color: #425466;
}

.tab3 .content-list-item .item .tag p{
    margin: 0;
    font-size: 12px;
    color: #2e3a55;
}

.tab3 .content-list-item .item .tag svg{
    width: 20px;
    margin-right: 10px;
}

.tab3 .content-list-item .item .desc h4{
    font-weight: 700;
    margin: 15px 0;
}

.tab3 .content-list-item .item .desc a{
    color: #635bff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    transition-property: color;
    outline: none;
    font-weight: 600;
    padding-top: 15px !important;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.tab3 .content-list-item .item .desc a:hover{
    transition: 0.3s ease-in-out;
    color: #0a2540;
}

.tab3 .content-list-item .item .thum-mini{
    padding-top: 10%;
    padding-left: 15%;
    background-color: #f6f9fc;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.tab3 .content-list-item .item:hover .desc a{
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.tab3 .content-list-item .item:hover .thum-mini{
    transition: 0.3s ease-in-out;
}

.tab3 .content-list-item .item .thumnail{
    position: relative;
}

.tab3 .content-list-item .item .thumnail img.background{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

.tab3 .content-list-item .item:hover .thumnail img.background{
    z-index: 1;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.tab3 .content-list-item .item .thumnail img.images-thum{
    position: relative;
    border-radius: 4px 0 0 0 ;
    z-index: 2;
}

@media (max-width: 767px) {
        
    .tab3 .content-list-item{
        padding: 0 !important;
    }

    .tab3 .content-list-item .col-md-6{
        padding: 0 !important;
    }

    .tab3 .content-list-item{
        padding: 0 !important;
    }
}

/* TAB 3 END */


/*  */
/*  */
/*  */

/* BÀI VIẾT LIÊN QUAN */

.new_more {
    margin-top: 5vw;
}

.new_more .news{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.new_more .news .item-new{
    padding: 0px 10px !important;
}

.new_more .item-new .sale-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.new_more .item-new .sale-new b {
    color: #0008C8;
    background-color: #E7EEFF;
    border-radius: 5px;
    font-weight: 700;
    padding: 3px 10px;
    margin: 0;
}

.new_more .item-new .title-new h4 a {
    color: black;
    text-decoration: none;
}

.new_more .item-new .title-new h4 {
    color: black;
    margin: 0;
    font-family: 'Noto-san-bold';
    font-weight: 700;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new_more .item-new .title-new p {
    font-size: 15px;
    color: gray;
    margin: 0;
}

.new_more .item-new .content .text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0px;
}

.new_more .item-new .detail-new {
    padding: 5px 25px;
    border: 2px solid #0008C8;
    display: block;
    border-radius: 100px;
    max-width: 150px;
    margin: 0px auto 10px auto;
    text-align: center;
}

.new_more .item-new .detail-new a {
    color: #0008C8;
    font-weight: 700;
    text-decoration: none;
}

.new_more .item-new .type {
    color: #00BF63;
    margin: 0;
}

@media (max-width: 767px) {
    .new_more .news .item-new {
        padding: 0px !important;
    }

    .tab2 .content-tab2 p{
        margin: 4vw 0;
    }

    .list-news .item-new .desc-new .thumnail{
        padding: 0 !important;
    }
    
    .tab2 .title-tab2 h4{
        margin: 4vw auto 4vw auto;
    }

    .tab2 .content-tab2 {
        margin-top: 10vw;
    }

    .content-tab1 .title-news{
        margin-bottom: 12vw;
    }

    .tab2 .content-tab2 h2 {
        font-size: 33px;
    }

    .tab2 .title-tab2 .desc-tab2 button {
        margin: 3vw auto 15vw auto;
    }

    .content-tab1 .title h1 {
        font-size: 24px;
    }

    .content-tab1 .description{
        font-size: 17px;
    }

    .content-tab1 .content-left {
        margin-top: 0;
    }

    .content-tab1 .title-news h2{
        font-size: 24px;
    }

    .content-tab1 .title-news{
        margin-right: 17px;
        margin-bottom: 2vw;
    }

}

.btn-form-edit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn-form-edit button.firt{
    background-color: transparent;
    border: 2px solid #1F1B63;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-right: 10px;
    outline: none;
}

.btn-form-edit button.firt a{
    margin: 0;
    text-align: center;
    padding: 9.5px 17px;
}

.btn-form-edit button.second{
    background-color: #354FFF;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.btn-form-edit button.second a{
    color: white;
    text-decoration: none;
    font-family: 'Open-san-bold';
    padding: 17px 50px;
}

.btn-active-form a{
    text-decoration: none;
    color: #334DFF;
    font-family: 'Open-san-bold';
}

.tab2 .title-tab2 .desc-tab2 button a{
    color: #A07C00;
    text-decoration: none;
    font-family: 'Open-san-bold';
}

@media (max-width: 767px) {
        
    .btn-form-edit button.second a{
        padding: 15px 25px;
    }

    .btn-form-edit{
        margin-top: 0vw;
    }

    .content-tab1 .list-news .item-news a, .content-tab1 .list-news .item-news p{
        font-size: 15.5px;
    }
}