* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

@font-face {
    font-family: 'Open-san-bold';
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Noto-san-bold';
    src: url("../fonts/NotoSans-Bold.ttf");
}

@keyframes animationText {
    0% {
        opacity: 0.5;
        transition: 0.5s ease-in-out;
    }
    
    100% {
        opacity: 1;
        transition: 0.5s ease-in-out;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1.15);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.15);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(0px);
    }
}




.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.container {
    padding: 0 !important;
}

.main-source{
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .main-source{
        margin: 0px 10px;
    }
}
/* Restart end */


/* HEADER START */

.header .header_desk .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .logo h3{
    font-weight: 700;
    color: white;
    background-color: #344EFE;
    display: inline;
    padding: 1px 8px;
    border-radius: 100%;
    margin: 0 10px 0 0;
    font-family: 'Open-san-bold';
}

.header .container .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header .container h4{
    font-family: 'Open-san-bold';
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: #344EFE;
}

.header .header_desk ul {
    padding: 0.5vw 0;
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    height: max-content;
}

.header .header_desk ul li {
    padding: 10px 1.5vw;
    list-style: none;
    font-family: "God-word";
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header_desk ul li a {
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    align-items: center;
    color: black;
    font-family: 1vw;
    transition: 0.4s ease-in-out;
    text-decoration: none;
}

.header a.login{
    color: #344EFE;
    padding: 5px 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #344EFE;
    border: 1px solid #BAC3FE;
}

.header .header_mobile {
    display: none;
}

@media (max-width:767px) {
    .header .header_mobile {
        display: block;
    }

    .header a.login{
        margin-right: 10px;
        color: #344EFE;
        padding: 3px 10px;
        font-size: 14px;
        border-radius: 8px;
        box-shadow: 0px 0px 3px #344EFE;
        border: 1px solid #BAC3FE;
        text-decoration: none;
        display: none;
        font-weight: 700;
    }

    .header a.login.active{
        display: block;
    }

    .header .header_desk {
        display: none;
    }

    .header .header_mobile .menu_set {
        padding: 5px 0px;
    }

    .header .header_mobile .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .header_mobile .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .header .header_mobile .btn_menu_mobile {
        position: relative;
        transition: 0.8s ease-in-out;
    }
    
    .header .header_mobile .btn_menu_mobile .item_menu {
        position: relative;
        background-color: black;
        width: 30px;
        height: 4px;
        margin: 5px 0px;
        border-radius: 15px;
        transition: 0.8s ease-in-out;
    }
    
    .header .header_mobile .btn_menu_mobile.active .item_menu.center  {
        opacity: 0;
        transition: 0.8s ease-in-out;
    }
    
    .header .header_mobile .btn_menu_mobile.active .item_menu.top  {
        transform: translate3d(0px, 9px, 0px) rotate(45deg);
        transition: 0.8s ease-in-out;
    }
    
    .header .header_mobile .btn_menu_mobile.active .item_menu.bottom  {
        transform: translate3d(0px, -9px, 0px) rotate(-45deg);
        transition: 0.8s ease-in-out;
    }

    .header .header_mobile .user-name {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px !important;
    }

    .header .header_mobile .user-name h6{
        margin: 0 10px;
        font-weight: 700;
        color: #344EFE;
        display: none;
    }

    .header .header_mobile .user-name h6.active{
        display: block;
    }

    .header .header_mobile .menu_move {
        background-color: white; 
        padding: 10px;
        width: 100%;
        position: fixed;
        right: 0;
        z-index: 999;
        opacity: 0.5;
        transform: translateX(100%);
        min-height: 100vh;
        transition: 0.8s ease-in-out;
    }

    body.active {
        overflow: hidden;
    }

    .header .header_mobile .menu_move b{
        font-size: 18px;
    }

    .header .header_mobile .menu_move.active {
        transform: translateX(0);
        opacity: 1;
        transition: 0.8s ease-in-out;
    }

    .header .header_mobile .menu_move ul {
        padding: 0;
        margin: 0;
    }

    .header .header_mobile .menu_move ul li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .header .header_mobile .menu_move ul li .left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .header .header_mobile .menu_move ul li .left i{
        margin-right: 10px;
        font-size: 18px;
    }

    .header .header_mobile .menu_move ul li .left a{
        color: black;
        font-size: 18px;
        text-decoration: none;
    }

    .header .header_mobile .menu_move .top-news a{
        margin-left: 20px;
        color: black;
        text-decoration: none;
    }

    .header .header_mobile .menu_move .top-news li{
        margin-bottom: 7px;
    }
}

/* HEADER END */


/* MAIN HOME PAGE START */

.main {
    margin: auto;
}

.main .tab{
    display: flex;
    padding: 2vw 0px;
    align-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

@media (max-width: 768px) {
        
    .main .tab{
        margin: 5vw auto !important;
    }

}

.main .tab1 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

.main .content-right .slogand b{
    background-color: #EDF0FF;
    padding: 3px 10px;
    border-radius: 5px;
    color: #0008C8 ;
    font-family: 'Open-san-bold';
}

.main .content-right .title-content{
    margin: 1.5vw 0;
}

.main .content-right .title-content h3{
    font-family: 'Noto-san-bold';
    color: #1D1960;
    display: inline;
}

.main .content-right .title-content h3:nth-child(2){
    color: #CC9D00;
}

.main .content-right .title-content h3:nth-child(3){
    color: #334DFF;
}

.main .content-right .title-content h5{
    color: #0E0990;
    margin: 2vw 0;
}

.main .content-right .title-content button{
    font-family: 'Open-san-bold';
    color: #334DFF;
    margin: 15px auto;
    padding: 5px 30px;
    border-radius: 50px;
    border: 2px solid #334DFF;
    background-color: transparent;
    outline: none;
    display: block;
}

.main .form-start .item-form{
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    padding: 0px 0px 0px 10px;
    border: 1.5px solid #6678fd;
    margin-left: 10px;
    width: 350px;
    box-shadow: 2px 2px 5px 1px #898989;
}

.main .content-right .form-start{
    position: relative;
    opacity: 0;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

.main .content-right .form-start.active{
    position: relative;
    opacity: 1;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.main .form-start .item-form input{
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'Open-san-bold';
    width: 100%;
}

.main .form-start .item-form input::placeholder{
    font-family: 'Open-san-bold';
    color: rgb(118, 118, 118, 0.5);
}

.main .form-start .item-form button{
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    color: white;
    font-family: 'Noto-san-bold';
    background-color: #334DFF;
    margin: 3px;
    padding: 6px 25px;
    border-radius: 8px;
}

.main .content-left .form-start .item-form{
    width: 350px;
    margin-bottom: 2vw;
    border: 1.5px solid #00BF63;
}

.main .content-left .form-start .item-form button{
    background-color: #00BF63;
}

.main .content-left{
    margin-top: 60px;
}

.main .news .title-news h4{
    display: inline;
    font-family: 'Noto-san-bold';
    color: #0008C8;
}

.main .news .title-news h4.news-color{
    color: #00BF63;
}

.main .news .list-news {
    width: 60%;
}

.main .news .list-news .item-news{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.main .news .list-news .item-news a,
.main .news .list-news .item-news p{
    font-family: "Noto-san-bold";
    margin: 0;
    color: #334DFF;
    text-decoration: none;
}

.main .news .list-news .item-news a{
    width: 70%;
    color: #0E0990;
  	display: -webkit-box;
  	-webkit-line-clamp: 2; 
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.main .news button{
    background-color: #E4C911;
    display: block;
    margin: auto;
    padding: 7px 30px;
    color: #CBA304;
    border-radius: 50px;
    outline: none;
    border: none;
    font-family: 'Open-san-bold';
}

@media (max-width: 768px) {
    .main .content-left{
        order: 2;
        margin-top: 0;
    }

    .main .content-left .form-start{
        display: none;
    }

    .main .content-right{
        order: 1;
    }

    .main .content-right .title-content h5{
        margin: 5vw auto;
    }

    .main .form-start .item-form{
        margin: 5vw auto;
    }

    .main .news .list-news{
        width: 100%;
    }

    .main .content-right .title-content{
        margin: 5vw 0;
    }

}



/* TAB 1 END */


/* TAB 2 START */

.tab2 .title-tab2 h5{
    font-family: 'Open-san-bold';
}

.tab2 .content-tab .form-start{
    display: none;
}

.tab2 .content-tab .form-start{
    position: relative;
    opacity: 0;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

.tab2 .content-tab .form-start.active{
    position: relative;
    opacity: 1;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

@media (max-width:767px) {
        
    .tab2 .content-tab .form-start{
        display: block;
    }
}

/* TAB 2 END */

/* MAIN HOME PAGE END */